<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryForm" size="small" :inline="true" v-show="showSearch" label-width="68px">
      <el-form-item label="父节点" prop="parentId">
        <el-input v-model="queryParams.parentId" placeholder="请输入父节点" clearable @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item label="分类名称" prop="name">
        <el-input v-model="queryParams.name" placeholder="请输入分类名称" clearable @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item label="排序号" prop="seq">
        <el-input v-model="queryParams.seq" placeholder="请输入排序号" clearable @keyup.enter.native="handleQuery" />
      </el-form-item>
      <el-form-item label="创建日期" prop="createAt">
        <el-date-picker clearable v-model="queryParams.createAt" type="date" value-format="yyyy-MM-dd"
          placeholder="请选择创建日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="修改日期" prop="updateAt">
        <el-date-picker clearable v-model="queryParams.updateAt" type="date" value-format="yyyy-MM-dd"
          placeholder="请选择修改日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" size="mini" @click="handleQuery">搜索</el-button>
        <el-button icon="el-icon-refresh" size="mini" @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <el-row :gutter="10" class="mb8">
      <el-col :span="1.5">
        <el-button type="primary" plain icon="el-icon-plus" size="mini" @click="handleAdd"
          v-hasPermi="['system:datacategory:add']">新增</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="success" plain icon="el-icon-edit" size="mini" :disabled="single" @click="handleUpdate"
          v-hasPermi="['system:datacategory:edit']">修改</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="danger" plain icon="el-icon-delete" size="mini" :disabled="multiple" @click="handleDelete"
          v-hasPermi="['system:datacategory:remove']">删除</el-button>
      </el-col>
      <el-col :span="1.5">
        <el-button type="warning" plain icon="el-icon-download" size="mini" @click="handleExport"
          v-hasPermi="['system:datacategory:export']">导出</el-button>
      </el-col>
      <right-toolbar :showSearch.sync="showSearch" @queryTable="getList" :columns="columns"></right-toolbar>
    </el-row>

    <el-table v-loading="loading" :data="datacategoryList" @selection-change="handleSelectionChange">
      <el-table-column type="selection" width="55" align="center" />
      <el-table-column label="ID" align="center" prop="id" v-if="columns[0].visible" />
      <el-table-column label="父节点" align="center" prop="parentId" v-if="columns[1].visible" />
      <el-table-column label="分类名称" align="center" prop="name" v-if="columns[2].visible" />
      <el-table-column label="类型" align="center" prop="type" v-if="columns[3].visible" />
      <el-table-column label="排序号" align="center" prop="seq" v-if="columns[4].visible" />
      <el-table-column label="备注" align="center" prop="remark" v-if="columns[5].visible" />
      <el-table-column label="图片" align="center" prop="img" width="100" v-if="columns[6].visible">
        <template slot-scope="scope">
          <image-preview :src="scope.row.img" :width="50" :height="50" />
        </template>
      </el-table-column>
      <el-table-column label="创建日期" align="center" prop="createAt" width="180" v-if="columns[7].visible">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.createAt, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="修改日期" align="center" prop="updateAt" width="180" v-if="columns[8].visible">
        <template slot-scope="scope">
          <span>{{ parseTime(scope.row.updateAt, '{y}-{m}-{d}') }}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作" align="center" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button size="mini" type="text" icon="el-icon-edit" @click="handleUpdate(scope.row)"
            v-hasPermi="['system:datacategory:edit']">修改</el-button>
          <el-button size="mini" type="text" icon="el-icon-delete" @click="handleDelete(scope.row)"
            v-hasPermi="['system:datacategory:remove']">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total > 0" :total="total" :page.sync="queryParams.pageNum" :limit.sync="queryParams.pageSize"
      @pagination="getList" />

    <!-- 添加或修改数据分类对话框 -->
    <el-dialog :title="title" :visible.sync="open" width="500px" append-to-body>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item label="父节点" prop="parentId">
          <!-- <el-input v-model="form.parentId" placeholder="请输入父节点" /> -->
          <treeselect v-model="form.parentId" :multiple="false" :options="options" />
        </el-form-item>
        <el-form-item label="分类名称" prop="name">
          <el-input v-model="form.name" placeholder="请输入分类名称" />
        </el-form-item>
        <el-form-item label="排序号" prop="seq">
          <el-input v-model="form.seq" placeholder="请输入排序号" />
        </el-form-item>
        <el-form-item label="备注" prop="remark">
          <el-input v-model="form.remark" type="textarea" placeholder="请输入内容" />
        </el-form-item>
        <el-form-item label="图片" prop="img">
          <image-upload v-model="form.img" />
        </el-form-item>
        <el-form-item label="创建日期" prop="createAt">
          <el-date-picker clearable v-model="form.createAt" type="date" value-format="yyyy-MM-dd" placeholder="请选择创建日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="修改日期" prop="updateAt">
          <el-date-picker clearable v-model="form.updateAt" type="date" value-format="yyyy-MM-dd" placeholder="请选择修改日期">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { listDatacategory, getDatacategory, delDatacategory, addDatacategory, updateDatacategory, listTreeNode } from "@/api/system/datacategory";
// import the component
import Treeselect from '@riophae/vue-treeselect';
// import the styles
import '@riophae/vue-treeselect/dist/vue-treeselect.css';
export default {
  name: "Datacategory",
  data() {
    return {
      // 遮罩层
      loading: true,
      // 选中数组
      ids: [],
      // 非单个禁用
      single: true,
      // 非多个禁用
      multiple: true,
      // 显示搜索条件
      showSearch: true,
      // 总条数
      total: 0,
      // 数据分类表格数据
      datacategoryList: [],
      // 弹出层标题
      title: "",
      // 是否显示弹出层
      open: false,
      // 查询参数
      queryParams: {
        pageNum: 1,
        pageSize: 10,
        parentId: null,
        name: null,
        type: null,
        seq: null,
        img: null,
        createAt: null,
        updateAt: null,
      },
      columns: [
        { key: 0, label: `id`, visible: true },
        { key: 1, label: `父节点`, visible: true },
        { key: 2, label: `分类名称`, visible: true },
        { key: 3, label: `类型`, visible: true },
        { key: 4, label: `排序号`, visible: true },
        { key: 5, label: `备注`, visible: true },
        { key: 6, label: `图片`, visible: true },
        { key: 7, label: `创建时间`, visible: true },
        { key: 8, label: `修改时间`, visible: true },
      ],
      // 表单参数
      form: {},
      options: [
      ],
      // 表单校验
      rules: {
        name: [
          { required: true, message: "分类名称不能为空", trigger: "blur" }
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  components: { Treeselect },
  methods: {
    /** 查询数据分类列表 */
    getList() {
      this.loading = true;
      listDatacategory(this.queryParams).then(response => {
        this.datacategoryList = response.rows;
        this.total = response.total;
        this.loading = false;
      });
    },
    //获取树形结构
    listTree() {
      listTreeNode().then(res => {
        this.options.push(res.data[0]);
        console.log('object', this.options);
      });
    },
    // 取消按钮
    cancel() {
      this.open = false;
      this.reset();
    },
    // 表单重置
    reset() {
      this.form = {
        id: null,
        parentId: null,
        name: null,
        type: null,
        seq: null,
        remark: null,
        img: null,
        createAt: null,
        createBy: null,
        updateAt: null,
        updateBy: null
      };
      this.options = []
      this.resetForm("form");
    },
    /** 搜索按钮操作 */
    handleQuery() {
      this.queryParams.pageNum = 1;
      this.getList();
    },
    /** 重置按钮操作 */
    resetQuery() {
      this.resetForm("queryForm");
      this.handleQuery();
    },
    // 多选框选中数据
    handleSelectionChange(selection) {
      this.ids = selection.map(item => item.id)
      this.single = selection.length !== 1
      this.multiple = !selection.length
    },
    /** 新增按钮操作 */
    handleAdd() {
      this.reset();
      this.open = true;
      this.listTree()
      this.title = "添加数据分类";
    },
    /** 修改按钮操作 */
    handleUpdate(row) {
      this.reset();
      const id = row.id || this.ids
      getDatacategory(id).then(response => {
        this.form = response.data;
        this.open = true;
        this.listTree()
        this.title = "修改数据分类";
      });
    },
    /** 提交按钮 */
    submitForm() {
      this.$refs["form"].validate(valid => {
        if (valid) {
          if (this.form.id != null) {
            updateDatacategory(this.form).then(response => {
              this.$modal.msgSuccess("修改成功");
              this.open = false;
              this.getList();
            });
          } else {
            addDatacategory(this.form).then(response => {
              this.$modal.msgSuccess("新增成功");
              this.open = false;
              this.getList();
            });
          }
        }
      });
    },
    /** 删除按钮操作 */
    handleDelete(row) {
      const ids = row.id || this.ids;
      this.$modal.confirm('是否确认删除数据分类编号为"' + ids + '"的数据项？').then(function () {
        return delDatacategory(ids);
      }).then(() => {
        this.getList();
        this.$modal.msgSuccess("删除成功");
      }).catch(() => { });
    },
    /** 导出按钮操作 */
    handleExport() {
      this.download('system/datacategory/export', {
        ...this.queryParams
      }, `datacategory_${new Date().getTime()}.xlsx`)
    }
  }
};
</script>
